@using Microsoft.AspNetCore.Identity
@inject SignInManager<E_Library.Model.ApplicationUser> SignInManager
@inject UserManager<E_Library.Model.ApplicationUser> UserManager
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery
@{
    var tokens = Antiforgery.GetAndStoreTokens(Context);
    string userRole = "";
    if (SignInManager.IsSignedIn(User))
    {
        var currentUser = await UserManager.GetUserAsync(User);
        userRole = currentUser?.Role ?? "";
    }
}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">E-Library</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto">
               

                @if (SignInManager.IsSignedIn(User))
                {
                    var currentUser = await UserManager.GetUserAsync(User);
                    var role = currentUser?.Role;

                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item"><a class="nav-link" href="/Admin/Dashboard">Admin Panel</a></li>
                        <li class="nav-item"><a class="nav-link" href="/Admin/Book/Index">📚 Manage Books</a></li>
                        <li class="nav-item"><a class="nav-link" href="/Inventory">📦 Inventory</a></li>
                        <li class="nav-item"><a class="nav-link" href="/Announcement/Index">📢 Announcements</a></li>
                    }
                    else if (role == "Staff")
                    {
                        <li class="nav-item"><a class="nav-link" href="/Staff/Dashboard">Staff Panel</a></li>
                    }
                    else
                    {
                        // Only Members see public site
                        <li class="nav-item"><a class="nav-link" href="/Home/Index">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/Books">Books</a></li>
                        <li class="nav-item"><a class="nav-link" href="/Order/MyOrders">Orders</a></li>
                        <li class="nav-item"><a class="nav-link" href="/Wishlist/MyWishlist">Wishlist</a></li>
                        <li class="nav-item"><a class="nav-link" href="/Cart/MyCart">🛒 My Cart</a></li>
                    }

                    <li class="nav-item">
                        <form action="/Account/Logout" method="post" class="d-inline">
                            <input type="hidden" name="__RequestVerificationToken" value="@tokens.RequestToken" />
                            <button type="submit" class="btn btn-link nav-link" style="display:inline; padding:0;">Logout</button>
                        </form>
                    </li>
                }
                else
                {
                    <li class="nav-item"><a class="nav-link" href="/Home/Index">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/Books">Books</a></li>
                    <li class="nav-item"><a class="nav-link" href="/Account/Register">Register</a></li>
                    <li class="nav-item"><a class="nav-link" href="/Account/Login">Login</a></li>
                }

            </ul>
        </div>
    </div>
</nav>
