@model IEnumerable<E_Library.Model.Wishlist>
@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-warning text-center mt-3">
        @TempData["AlertMessage"]
    </div>
}

<h2>Your Wishlist</h2>

<table class="table">
    <thead>
        <tr>
            <th>Book</th>
            <th>Added At</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Book.Title</td>
                <td>@item.AddedAt.ToLocalTime().ToString("g")</td>
                <td>
                    <a asp-action="Remove" asp-route-wishlistId="@item.Wishlist_Id" class="btn btn-danger">Remove</a>
                </td>
            </tr>
        }
    </tbody>
</table>
